

      
    body {
      text-align: center;
      font-family: "Sour Gummy", sans-serif;
      background: url('img/backgroundgif.gif') no-repeat center center fixed;
      background-size: cover; 
      height: 100vh; 
      margin: 0; 
      display: flex;
      justify-content: center; 
      align-items: center; 
  }
  
  .container {
      text-align: center;
  }
  
  h1 {
      margin-bottom: 20px; 
  }
  
  .board {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-gap: 10px;
      width: 630px;
  }
  
  .button {
    font-family: "Sour Gummy", sans-serif;

    width: 200px;
    height: 200px;
    border: outset rgb(255, 234, 180); 
    color: white; 
    background-color: rgb(255, 234, 180); 
    border-radius: 10px;
    font-size: 24px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}

.button:hover {
    background-color: #e4d1a0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.button2:active {
  background-color: #e4d1a0;
}


    
#resultContainer {
  position: absolute;
  font-family: "Sour Gummy", sans-serif;

  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: none; 
}

#resultContainer button {
  margin-top: 20px;
  font-family: "Sour Gummy", sans-serif;
  padding: 10px 20px;
  font-size: 16px;
    background-color: #Adb1dc;
  color: #464545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#resultContainer button:hover {
  background-color:  #616ad0;;
}

.matchHistory{
  font-family: "Sour Gummy", sans-serif;

  background-color: #Adb1dc;
  bottom: 900px; 
  left: 10%;
}

.button2 {

  border: none;
  color: #464545;
  padding: 20px 40px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; 
  margin: 4px 2px;
  cursor: pointer;
  position: fixed; 
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  font-family: "Sour Gummy", sans-serif;
  transform: translateX(-50%); 
  border-radius: 10px;


}
.button2:hover {
  background-color: #6399fd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.button2:active {
  background-color: #6399fd;
}

