

      html{
        background-color: black;
      }
      
      head{
        background-color: black;

      }
    body { 
        text-align: center; 
        font-family: Arial, sans-serif; 
        background-color: black;
    }
    
    .board { 
        display: grid; 
        grid-template-columns: repeat(3, 200px); 
        grid-gap: 10px; 
        width: 630px; 
        margin: 20px auto; 
    }
    
    .button { 

        width: 200px;
        height: 200px; 
        border:  outset rgb(24, 0, 9); 

        border-radius: 10px;
        
        

        
    }
    