

      
    body {
      text-align: center;
      font-family: Arial, sans-serif;
      background: url('img/backgroundgif.gif') no-repeat center center fixed;
      background-size: cover; 
      height: 100vh; 
      margin: 0; 
      display: flex;
      justify-content: center; 
      align-items: center; 
  }
  
  .container {
      text-align: center;
  }
  
  h1 {
      margin-bottom: 20px; 
  }
  
  .board {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-gap: 10px;
      width: 630px;
  }
  
  .button {
    width: 200px;
    height: 200px;
    border: outset rgb(255, 234, 180); 
    color: white; 
    background-color: rgb(255, 234, 180); 
    border-radius: 10px;
    font-size: 24px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: rgb(255, 234, 180);
}

    
#resultContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: none; 
}

#resultContainer button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
    background-color: #Adb1dc;
  color: #464545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#resultContainer button:hover {
  background-color:  #616ad0;;
}
