


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/backgroundgif.gif') no-repeat center center fixed;
    background-size: cover; 
    height: 100vh;
    background-color: white;
    flex-direction: column;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 90%;
}
.board0, .board1, .board2, .board3, .board4, 
.board5, .board6, .board7, .board8, .board9 {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    
    gap: 3px;
    padding: 10px;
    background-color: none;
}




.button{
    width: 70px;
    height: 70px;
    font-size: 14px;
    text-align: center;
    background: none;
    border: outset rgb(255, 234, 180); 
    color: white; 
    background-color: rgb(255, 234, 180); 
}

.load{
    background-color: #Adb1dc;
    bottom: 900px; 
    left: 10%;
}
.button2 {
    
    border: none;
    color: #464545;
    padding: 20px 40px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
    margin: 4px 2px;
    cursor: pointer;
    position: fixed; 

   
    transform: translateX(-50%); 
    border-radius: 10px;


}