.button {
    
  border: none;
  color: #464545;
  padding: 20px 40px; 

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; 
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Sour Gummy", sans-serif;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
 
  transform: translateX(-50%); 
  border-radius: 10px;


}

body {
text-align: center;
font-family: "Sour Gummy", sans-serif;
background: url('img/backgroundgif.gif') no-repeat center center fixed;
background-size: cover; 

}


.input {
  font-family: "Sour Gummy", sans-serif;

border: none;
color: #464545;
padding: 20px 40px; 
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px; 
margin: 4px 2px;
cursor: pointer;
position: fixed; 
left: 50%;
transform: translateX(-50%); 
border-radius: 10px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);



}

.input1 {bottom: 500px;
background-color: #ecd59f;}
.input2 {bottom: 400px;
background-color: #ecd59f;}
.button1 {
background-color: #Adb1dc;
bottom: 300px; 
left: 50%;
position: fixed; 

}

.button2{
  background-color: #Adb1dc;
  position: relative; 
  left: -35%;
  bottom: 50px;
}
h3{
color: #464545;
font-size: 40px; 
bottom: 900px; 


}
#forgot-password {
font-size: 14px;
color: blue;
text-decoration: underline;
bottom: 370px;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
position: fixed; 
left: 50%;
transform: translateX(-50%); 
} 
.button:hover {
  background-color: #6399fd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: #6399fd;
}

@media screen and (max-width: 768px) {
  .button, .input {
      padding: 12px 20px;
      font-size: 16px;
  }
}

.showPassword{
  bottom: -290px; 
  position: relative; 
  border: none;
  background-color: none;
  background: none;
  left: 10%;


}

.buttonPassword {
    
  border: none;
  color: #464545;
  padding: 20px 40px; 

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; 
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Sour Gummy", sans-serif;

  cursor: pointer;
 
  transform: translateX(-50%); 


}
